# Sports Team Ranking
## Analysis
This notebook is used to run the different ranking methods after the data has been processed. <br/>
<br/>
Originally coded by Rhys-Jasper Le√≥n <br/>
Last updated 2025 November 18

In [30]:
# import libraries
import numpy as np
import pandas as pd
import numpy.linalg as la

In [31]:
# set verbose mode
verbose = False

In [32]:
# import processing functions
from processing import *

# process data
season, nrows, ncols = import_league_data('mlb_2025_season.csv', verbose=verbose)
teams, teams_list = import_teams_data('mlb_teams.csv', verbose=verbose)
S, G, W, A = process_game_data(season, teams_list, method='distribute', verbose=verbose)

## Direct Method

In [33]:
# find largest real, positive eigenvalue and corresponding eigenvector
lam, E = la.eig(A)
# print(eigenvalues)
ind = np.argmax(lam.real)
max_lam = lam[ind].real
max_E = E[:, ind].real
print(f'Largest real, positive eigenvalue: {max_lam}')
print(f'Corresponding eigenvector: {max_E}')

Largest real, positive eigenvalue: 80.53689426691702
Corresponding eigenvector: [0.18042291 0.1733005  0.18042964 0.17138287 0.1942651  0.20035883
 0.16884818 0.18817026 0.18240401 0.13879442 0.18857258 0.18618744
 0.18127331 0.16426368 0.19691168 0.17415969 0.19999066 0.17210399
 0.18718459 0.20220568 0.19471476 0.17246904 0.18991156 0.18034351
 0.19162586 0.17646043 0.18798217 0.18987694 0.18903052 0.15876291]

In [34]:
# create ranking vector based on max_E
r_direct = max_E / np.sum(max_E)

# verify that ranking vector sums to 1
print(f'Ranking vector sums to: {np.sum(r_direct)}')

Ranking vector sums to: 1.0

In [35]:
# display final rankings
ranking = pd.DataFrame({'Team': teams_list, 'Score': r_direct})
ranking['Rank'] = ranking['Score'].rank(method='dense', ascending=False).astype(int)
print('Final Team Rankings:')
display(ranking.sort_values(by='Rank').reset_index(drop=True))

Final Team Rankings:

   Team     Score  Rank
0   NYY  0.037018     1
1   CHC  0.036680     2
2   MIL  0.036612     3
3   LAD  0.036049     4
4   PHI  0.035646     5
5   BOS  0.035564     6
6   SEA  0.035081     7
7    SD  0.034767     8
8   TEX  0.034761     9
9   TOR  0.034606    10
10  DET  0.034522    11
11  CIN  0.034448    12
12   TB  0.034414    13
13  NYM  0.034268    14
14  HOU  0.034085    15
15  CLE  0.033393    16
16   KC  0.033186    17
17  ATL  0.033031    18
18   AZ  0.033030    19
19   SF  0.033015    20
20  STL  0.032305    21
21  MIA  0.031883    22
22  ATH  0.031726    23
23  PIT  0.031574    24
24  MIN  0.031507    25
25  BAL  0.031375    26
26  CWS  0.030911    27
27  LAA  0.030072    28
28  WSH  0.029065    29
29  COL  0.025409    30

## Non-linear method

In [36]:
# initialize ranking vector
r = np.ones(len(teams_list))

In [37]:
# define continuous monotone increasing function f(x)
def f_inc(x):
    return (0.05*x + x**2) / (2 + 0.05*x + x**2)

In [38]:
# pre-allocate e matrix
e = pd.DataFrame(0., index=teams_list, columns=teams_list)
# build e matrix from scores
for i in range(len(teams_list)):
    for j in range(len(teams_list)):
        e.iloc[i, j] = (5 + S.iloc[i, j] + (S.iloc[i, j] ** (2/3))) / (5 + S.iloc[j, i] + (S.iloc[j, i] ** (2/3)))

if verbose:
    display(e)

In [39]:
# build f matrix using nonlinear function f(x)
fmat = pd.DataFrame(0., index=teams_list, columns=teams_list)
for i in range(len(teams_list)):
    for j in range(len(teams_list)):
        fmat.iloc[i, j] = f_inc(e.iloc[i, j] * r[j])

if verbose:
    display(fmat)

In [40]:
# create ranking vector based on f matrix
r_nonlinear = fmat.sum(axis=1).values / G.sum(axis=1).values

if verbose:
    # print first iteration ranking vector
    print(r_nonlinear)

In [41]:
# put it all together
max_iters = 100
tolerance = 1e-6

# initialize ranking vector
r = np.ones(len(teams_list))
# pre-allocate e matrix
e = pd.DataFrame(0., index=teams_list, columns=teams_list)
# build f matrix using nonlinear function f(x)
fmat = pd.DataFrame(0., index=teams_list, columns=teams_list)

# define continuous monotone increasing function f(x)
def f_inc(x):
    return (0.05*x + x**2) / (2 + 0.05*x + x**2)

for it in range(max_iters):
    # build e matrix from scores
    for i in range(len(teams_list)):
        for j in range(len(teams_list)):
            e.iloc[i, j] = (5 + S.iloc[i, j] + (S.iloc[i, j] ** (2/3))) / (5 + S.iloc[j, i] + (S.iloc[j, i] ** (2/3)))
            fmat.iloc[i, j] = f_inc(e.iloc[i, j] * r[j])

    # create ranking vector based on f matrix
    r_nonlinear = fmat.sum(axis=1).values / G.sum(axis=1).values

    # check for convergence
    if la.norm(r_nonlinear - r, ord=1) < tolerance:
        print(f'Converged after {it + 1} iterations.')
        if verbose:
            print(r_nonlinear)
        break
    
    r = r_nonlinear

    # if max_iters reached without convergence
    if it == max_iters - 1:
        print('Maximum iterations reached without convergence.')

Converged after 5 iterations.

In [42]:
# display final rankings
ranking_nl = pd.DataFrame({'Team': teams_list, 'Score': r_nonlinear})
ranking_nl['Rank'] = ranking_nl['Score'].rank(method='dense', ascending=False).astype(int)
print('Final Team Rankings:')
display(ranking_nl.sort_values(by='Rank').reset_index(drop=True))

Final Team Rankings:

   Team         Score  Rank
0   NYY  1.438909e-10     1
1   MIL  1.438435e-10     2
2   LAD  1.427299e-10     3
3   SEA  1.391075e-10     4
4   CHC  1.366013e-10     5
5   PHI  1.362882e-10     6
6   HOU  1.357603e-10     7
7   TOR  1.340176e-10     8
8   TEX  1.328897e-10     9
9   DET  1.297452e-10    10
10  BOS  1.286015e-10    11
11  CIN  1.277449e-10    12
12   TB  1.274059e-10    13
13  NYM  1.225837e-10    14
14   SD  1.205765e-10    15
15   KC  1.195175e-10    16
16   SF  1.183807e-10    17
17  STL  1.183709e-10    18
18   AZ  1.163411e-10    19
19  MIA  1.150881e-10    20
20  PIT  1.136455e-10    21
21  ATL  1.132011e-10    22
22  CWS  1.104030e-10    23
23  BAL  1.092363e-10    24
24  CLE  1.087531e-10    25
25  MIN  1.067899e-10    26
26  ATH  1.063067e-10    27
27  LAA  9.663546e-11    28
28  WSH  9.339107e-11    29
29  COL  7.354129e-11    30

## Compare rankings

In [43]:
wins = W.sum(axis=1).values
display(wins)

array([80, 76, 76, 75, 89, 92, 60, 83, 88, 43, 87, 87, 82, 72, 93, 79, 97,
       70, 83, 94, 96, 71, 90, 81, 90, 78, 77, 81, 94, 66])

In [44]:
final_rank = pd.DataFrame({'Team': teams_list, 'Wins': wins, 'Direct Score': r_direct, 'Nonlinear Score': r_nonlinear})
final_rank['Wins Rank'] = final_rank['Wins'].rank(method='dense', ascending=False).astype(int)
final_rank['Direct Rank'] = final_rank['Direct Score'].rank(method='dense', ascending=False).astype(int)
final_rank['Nonlinear Rank'] = final_rank['Nonlinear Score'].rank(method='dense', ascending=False).astype(int)
display(final_rank.sort_values(by='Wins Rank', ascending=True).reset_index(drop=True))

,Team,Wins,Direct Score,Nonlinear Score,Wins Rank,Direct Rank,Nonlinear Rank
0,MIL,97,0.036612,1.438435e-10,1,3,2
1,PHI,96,0.035646,1.362882e-10,2,5,6
2,TOR,94,0.034606,1.340176e-10,3,10,8
3,NYY,94,0.037018,1.438909e-10,3,1,1
4,LAD,93,0.036049,1.427299e-10,4,4,3
5,CHC,92,0.036680,1.366013e-10,5,2,5
6,SD,90,0.034767,1.205765e-10,6,8,15
7,SEA,90,0.035081,1.391075e-10,6,7,4
8,BOS,89,0.035564,1.286015e-10,7,6,11
9,CLE,88,0.033393,1.087531e-10,8,16,25
10,DET,87,0.034522,1.297452e-10,9,11,10
11,HOU,87,0.034085,1.357603e-10,9,15,7
12,CIN,83,0.034448,1.277449e-10,10,12,12
13,NYM,83,0.034268,1.225837e-10,10,14,14
14,KC,82,0.033186,1.195175e-10,11,17,16
15,SF,81,0.033015,1.183807e-10,12,20,17
16,TEX,81,0.034761,1.328897e-10,12,9,9
17,AZ,80,0.033030,1.163411e-10,13,19,19
18,MIA,79,0.031883,1.150881e-10,14,22,20
19,STL,78,0.032305,1.183709e-10,15,21,18
20,TB,77,0.034414,1.274059e-10,16,13,13
21,ATL,76,0.033031,1.132011e-10,17,18,22
22,ATH,76,0.031726,1.063067e-10,17,23,27
23,BAL,75,0.031375,1.092363e-10,18,26,24
24,LAA,72,0.030072,9.663546e-11,19,28,28
25,PIT,71,0.031574,1.136455e-10,20,24,21
26,MIN,70,0.031507,1.067899e-10,21,25,26
27,WSH,66,0.029065,9.339107e-11,22,29,29
28,CWS,60,0.030911,1.104030e-10,23,27,23
29,COL,43,0.025409,7.354129e-11,24,30,30

In [45]:
result = pd.merge(teams, final_rank, left_on='abbr', right_on='Team')
final_result = result[['team', 'Wins', 'Wins Rank', 'Direct Rank', 'Nonlinear Rank']].sort_values(by='Wins', ascending=False)
final_result.rename(columns={'team': 'Team'}, inplace=True)
display(final_result.style.hide(axis='index'))