# Sports Team Ranking
## Data Processing
This notebook is used for data exploration and for processing the data that will be analyzed. <br/>
<br/>
Originally coded by Rhys-Jasper Le√≥n <br/>
Last updated 2025 November 10

In [14]:
# import libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import numpy.linalg as la
import scipy.stats as stats

In [15]:
# import league data
df = pd.read_csv('mlb_2025_season.csv')
# turn date column into datetime object
df['date'] = pd.to_datetime(df['date'])

df.head()

        date away  away-score  home-score home  win loss
0 2025-03-18  LAD           4           1  CHC  LAD  CHC
1 2025-03-19  LAD           6           3  CHC  LAD  CHC
2 2025-03-27  NYM           1           3  HOU  HOU  NYM
3 2025-03-27  BAL          12           2  TOR  BAL  TOR
4 2025-03-27  MIN           3           5  STL  STL  MIN

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2430 entries, 0 to 2429
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        2430 non-null   datetime64[ns]
 1   away        2430 non-null   object
 2   away-score  2430 non-null   int64
 3   home-score  2430 non-null   int64
 4   home        2430 non-null   object
 5   win         2430 non-null   object
 6   loss        2430 non-null   object
dtypes: datetime64[ns](1), int64(2), object(4)
memory usage: 133.0+ KB

In [17]:
nrows, ncols = df.shape
print(f'The dataset has {nrows} rows and {ncols} columns.')

The dataset has 2430 rows and 7 columns.

In [18]:
# import list of teams
teams = pd.read_csv('mlb_teams.csv')
teams.head()

                   team abbr
0  Arizona Diamondbacks   AZ
1             Athletics  ATH
2        Atlanta Braves  ATL
3     Baltimore Orioles  BAL
4        Boston Red Sox  BOS

In [19]:
teams_list = teams['abbr']
# teams_list

In [20]:
# count number of wins for each team
win_counts = df['win'].value_counts()
# win_counts

In [21]:
# count number of points for each team
points = pd.Series(0, index=teams_list)
# print(points)

for team in teams_list:
    for row in range(nrows):
        if df.loc[row, 'away'] == team:
            points[team] += df.loc[row, 'away-score']
        elif df.loc[row, 'home'] == team:
            points[team] += df.loc[row, 'home-score']

points

abbr
AZ     791
ATH    733
ATL    724
BAL    677
BOS    786
CHC    793
CWS    647
CIN    716
CLE    643
COL    597
DET    758
HOU    686
KC     651
LAA    673
LAD    825
MIA    709
MIL    806
MIN    678
NYM    766
NYY    849
PHI    778
PIT    583
SD     702
SF     705
SEA    766
STL    689
TB     714
TEX    684
TOR    798
WSH    687
dtype: int64