# Sports Team Ranking
## Compile Results
This notebook is used to process all the data files and display the final rankings. <br/>
<br/>
Originally coded by Rhys-Jasper Le√≥n <br/>
Last updated 2025 November 18

In [1]:
# import libraries
import numpy as np
import pandas as pd
import numpy.linalg as la

# import processing and analysis functions
from processing import import_league_data
from analysis import create_ranking

In [2]:
# set verbose mode
verbose = False

## MLB

In [3]:
# file names
mlb_filename = 'data/mlb_2025_season.csv'
mlb_teams = 'data/mlb_teams.csv'
mlb_save = 'results/mlb_ranking_2025' # don't include file extension

In [4]:
# import MLB data
mlb_df, *_ = import_league_data(mlb_filename, verbose=verbose)

# create MLB ranking
mlb_ranking = create_ranking(mlb_teams, mlb_df, verbose=verbose)
# mlb_ranking = create_ranking(mlb_teams, mlb_df, verbose=verbose, save_file=mlb_save, save_type='csv')

Nonlinear method converged after 5 iterations.

## NBA

In [5]:
# file names
nba_filename = 'data/nba_2024_2025_season.csv'
nba_teams = 'data/nba_teams.csv'
nba_save = 'results/nba_ranking_2025' # don't include file extension

In [6]:
# import NBA data
nba_df, *_ = import_league_data(nba_filename, verbose=verbose)

# create NBA ranking
nba_ranking = create_ranking(nba_teams, nba_df, verbose=verbose)
# nba_ranking = create_ranking(nba_teams, nba_df, verbose=verbose, save_file=nba_save, save_type='csv')

Nonlinear method converged after 6 iterations.

## NFL

In [7]:
# file names
nfl_filename = 'data/nfl_2024_2025_season.csv'
nfl_teams = 'data/nfl_teams.csv'
nfl_save = 'results/nfl_ranking_2025' # don't include file extension

In [8]:
# import NFL data
nfl_df, *_ = import_league_data(nfl_filename, verbose=verbose)

# create NFL ranking
nfl_ranking = create_ranking(nfl_teams, nfl_df, verbose=verbose)
# nfl_ranking = create_ranking(nfl_teams, nfl_df, verbose=verbose, save_file=nfl_save, save_type='csv')

Nonlinear method converged after 11 iterations.